/archive/

/doc/*.html
/doc/*.txt
/doc/*.css
/doc/*.js

/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc

/doc/_AutoDocMainFile.xml 
/doc/_Chunks.xml
/doc/bib.xml.bib
/doc/title.xml
/doc/utils.xml

tst/cset.g
tst/download.g
tst/groups.g
tst/iterator.g
tst/lcset.g
tst/lists.g
tst/magma.g
tst/matrix.g
tst/number.g
tst/others.g
tst/print.g
tst/record.g
tst/testing.g

/gh-pages/

/not-used/

/tmp/
