/archive/

/doc/*.html
/doc/*.txt
/doc/*.css
/doc/*.js

/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc

/gh-pages/

/not-used/

/tmp/
